@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');

/* to do */
/* ostylowanie pola wyboru */
body {
    background: #353839;
    color: #eaebeb;
    font-family: 'Indie Flower';
    font-size: 3rem;
}

.title {
    color: #eaebeb;
    text-align: center;
}
.board-size-choice {
    text-align: center;
    font-size: 1.8rem;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
.board-size-choice>span{
    transition: ease-out 2s;
    cursor: pointer;
    padding: 0 1rem;
}
.board-size-choice>span:hover{
    transition: ease-in 0.5s;
    font-weight: bold;
}
.board-size-choice>span.chosen{
    font-weight: bold;
}

.alert-container{
    color: #eaebeb;
    text-align: center;
    font-size: 1.6rem;
}

.board {
    display: flex;
    justify-content: center;
}

.board-container {
    display: grid;
    grid-gap: 0.25rem;
    background: #eaebeb;
    justify-items: center;
    margin-top: 1rem;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.board-container.size-3 {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}
.board-container.size-5 {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
}
.board-container.size-7 {
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 1fr);
}

.box {
    background: #353839;
    color: #eaebeb;
    border: 0px solid black;
    height: 5rem;
    width: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}