@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');

/* to do */
/* turn helper */
body {
    background: #353839;
    color: #eaebeb;
    font-family: 'Indie Flower';
    font-size: 3rem;
}

header {
    color: #eaebeb;
    text-align: center;
    font-weight: bold;
}

.board-size-choice {
    display: flex;
    justify-content: center;
    font-size: 1.8rem;
}

.alert-container {
    color: #eaebeb;
    text-align: center;
    font-size: 1.6rem;
}

.board {
    display: flex;
    justify-content: center;
}

.board-container {
    display: grid;
    grid-gap: 0.25rem;
    background: #eaebeb;
    justify-items: center;
    margin-top: 1rem;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.board-container.size-3 {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.board-container.size-5 {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

.board-container.size-7 {
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 1fr);
}

.box {
    background: #353839;
    color: #eaebeb;
    border: 0px solid black;
    height: 5rem;
    width: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Hide the browser's default radio button */
input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

input[type="radio"]+label {
    color: #808080;
}

input[type="radio"]:checked+label {
    color: #eaebeb;
}